body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDsBZamKbpJwiq4rXpeOhnZumKzU-t0DgTQBK1P3lKDPsREMUP&s') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: cyan;
  font-family: 'Marcellus SC';
}

.container-fluid {
	margin: 20px;
	padding: 20px;
}